h1
{
  color:black;
  font-size:18pt;
  font-weight:bold;
  
  

/*making a black rectangle surrounding the title and the table of contents*/

	width: 200px;
    height: 400px;
    background: rgb(255,255,224);
}
  

p
{
	text-align:Fjalla One;
	font-size:40;
	line-height:55;
}
body
{
  
  background-image:url("../HTML/GP.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  background-blend-mode: lighten;
}
.center
{
	text-align:center;
}
